
            <script>
            // Load this when the DOM is ready
            $(function() {
                // You used .myCarousel here.
                // That's the class selector not the id selector,
                // which is home_carousel
                $('home_carousel').carousel( {interval: 6000});
            });
            </script>
            <div id="home_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#home_carousel" data-slide-to="0" class="active"><p>1</p</li>
                    <li data-target="#home_carousel" data-slide-to="1"><p>2</p></li>
                    <li data-target="#home_carousel" data-slide-to="2"><p>3</p></li>
                    <li data-target="#home_carousel" data-slide-to="3"><p>4</p></li>
                    <li data-target="#home_carousel" data-slide-to="4"><p>5</p></li>
                    <li data-target="#home_carousel" data-slide-to="5"><p>6</p></li>
                    <li data-target="#home_carousel" data-slide-to="6"><p>7</p></li>
                    <li data-target="#home_carousel" data-slide-to="7"><p>8</p></li>
                    <li data-target="#home_carousel" data-slide-to="8"><p>9</p></li>
                    <li data-target="#home_carousel" data-slide-to="8"><p style="margin-right: 2px;">10</p></li>                    
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">  
                        <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                <div class = "home_img first_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">

                                    <a class="caption_header_link carousel_header">How to Play Chess</a>
                                    <p> Here are the details about how to play </p>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                 <div class = "home_img second_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Take a Standardized Test </a>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                <div class = "home_img first_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Talk to a Girl </a>
                                    <p> Here are the details about how to talk </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                 <div class = "home_img second_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Take a Standardized Test </a>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                <div class = "home_img first_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Talk to a Girl </a>
                                    <p> Here are the details about how to talk </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                 <div class = "home_img second_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Take a Standardized Test </a>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                <div class = "home_img first_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Talk to a Girl </a>
                                    <p> Here are the details about how to talk </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                 <div class = "home_img second_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Take a Standardized Test </a>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                <div class = "home_img first_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Talk to a Girl </a>
                                    <p> Here are the details about how to talk </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                         <div class="carousel_image_container">
                            <div class="carousel_image_caption">
                                 <div class = "home_img second_img" alt = "Carousel Image" >&nbsp;
                                </div>
                                <div class="carousel-caption text-center">
                                    <a class="caption_header_link carousel_header">How to Take a Standardized Test </a>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.carousel -->
            <hr class = "main_page_hr">

              <%= render partial: "right_pane"%>

            <div  id = "contentarea" class = "content_area container-fluid">
                <div class = "row content_child1">

                    <div class="col-md-2 left_buttons">
                        <ul class= "nav nav-stacked" id="left_sidebar">
                            <li> <a class="text-center" href = "#"> <%= image_tag "facebook_button_float.png" %> </a></li>
                            <li> <a class="text-center" href = "#">  <%= image_tag "twitter_button_float.png" %>  </a></li>
                            <li> <a class="text-center"  href = "#">  <%= image_tag "instagram_button_float.png" %>  </a></li>
                            <li> <a class="text-center" href = "#">  <%= image_tag "user_button_float.png" %>  </a></li>
                            
                        </ul>
                    </div><!-- end left buttons column -->
                    <div id="name" class = "col-md-7 col-xs-12">
                        <div class = "row">
                            <div class = "col-xs-12 ">

                                <div class = "row articles_row ">
                                    <div class = "col-xs-12  category_title_col">
                                        <a href = "#" class="category_title"> KAYDETTIKLERIM </a>
                                    </div>
                                   <% Article.all.entertainment.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                            <%end %>

                                    <div class = "col-xs-12  category_title_col">
                                        <a href = "#" class="category_title"> EĞLENCE </h3>
                                    </div>
                                     <% Article.all.sports.sample(4).each do |article|%>
                                <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                                <%end %>

                                <div class = "col-xs-12  category_title_col">
                                    <a href = "#" class="category_title"> SPOR </a>
                                </div>
                                 <% Article.all.technology.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                            <%end %>
                            <div class = "col-xs-12  category_title_col">
                                <a href = "#" class="category_title">  TEKNOLOJİ </a>
                            </div>
                             <% Article.all.relationships.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                            <%end %>
                            <div class = "col-xs-12  category_title_col">
                                <a href = "#" class="category_title">  İLİŞKİLER </a>
                            </div>
                             <% Article.all.health.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                            <%end %>
                        <div class = "col-xs-12  category_title_col">
                            <a href = "#" class="category_title">  SAĞLIK </a>
                        </div>
                         <% Article.all.turkish_culture.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                            <%end %>
                        <div class = "col-xs-12  category_title_col">
                            <a href = "#" class="category_title">  TÜRK KÜLTÜRÜ </a>
                        </div>
                         <% Article.all.business_life.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                            <%end %>
                    <div class = "col-xs-12  category_title_col">
                        <a href = "#" class="category_title">  YEMEK </a>
                    </div>
                            <% Article.all.education.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                            <%end %>
                    <div class = "col-xs-12  category_title_col">
                        <a href = "#" class="category_title">  EĞİTİM </a>
                    </div>
                  
                            <% Article.all.business_life.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>

                            <%end %>
                    <div class = "col-xs-12  category_title_col">
                        <a href = "#" class="category_title">  İŞ HAYATI </a>
                    </div>
                     <% Article.all.personal.sample(4).each do |article|%>
                            <%= render(:partial => "article_fields", :locals =>{:article => article})%>
                   
                    

                            <%end %>
                            
                </div> <!-- categories and article rows -->
            </div><!-- categories col -->
        </div><!-- end row  --> 

    </div><!-- main column -->



     <%= render(:partial => "side_area")%> 

    </div><!--- end content child 1 row -->
    </div><!-- end main content area -->
    </div><!--end main body area -->


<%= render("footer")%>