<div id="home_carousel" class="carousel slide" data-ride="carousel" data-interval="false">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel_image_container">
                <div class="carousel_image_caption">
                    <div class="home_img second_img" alt="Carousel Image">&nbsp;
                    </div>
                    <div class="carousel-caption text-center">

                        <a class="caption_header_link carousel_header">How to Play Chess</a>
                        <p> Here are the details about how to play </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.carousel -->

<hr class="main_page_hr">
<div class=" main_buttons stationary">
    <%=image_tag "yaz.png", :alt=> "vikile logo" , :class => "yaz_img_button"%>
       main_button", :random => true) %>
    <%=image_tag "rasgele.png", :alt=> "vikile logo" , :class => "rasgele_img_button"%>
    <%=image_tag "yaz.png", :alt=> "vikile logo", :class => "other_img_button"%>
            
</div>
<!-- main buttons column-->
<div id="contentarea" class="content_area container-fluid">
    <div class="row content_child1">
        <div class="col-md-2 left_buttons">
            <%= render partial: "left_pane"%>
        </div>
        <!-- end left buttons column -->
        <div id="name" class="col-md-6 col-xs-12">
            <div class="row article_row ">
                <div class="col-xs-12  article_buttons text-center">
                    <div class="total_shares_div text-center">
                        <p class="num">12</p>
                        <p class="shares">paylaşım</p>
                    </div>
                    <%=image_tag "facebook_like1.png", :alt=> "vikile logo" , :class => "facebook_like"%>
                        <div class="share_div">
                            <%=image_tag "facebook_share1.png", :alt=> "vikile logo" , :class => "share"%>
                                <%=image_tag "twitter_share1.png", :alt=> "vikile logo" , :class => "share"%>
                        </div>
                        <%=image_tag "email_article1.png", :alt=> "vikile logo" , :class => "share"%>
                            <%=image_tag "print_icon1.png", :alt=> "vikile logo" , :class => "print"%>
                                <%=image_tag "like_button1.png", :alt=> "vikile logo" , :class => "like"%>
                                    <%=image_tag "save_icon1.png", :alt=> "vikile logo" , :class => "save"%>
                                        <%= link_to "Edit", edit_article_path(@article)%>
                                        <%=image_tag "edit_icon1.png", :alt=> "vikile logo" , :class => "edit"%>
                </div>
                <div class="col-xs-12 step ">
                    <div class="panel pic_and_info">
                        <div class="panel-body " id="step-1">
                            <div class="article_title_div">
                                <div class="article_part_num">1</div>
                                <div class="bolum">.Information</div>
                                <p> things go here, in the footer, divided by relevance, </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel text ">
                        <div class="panel-body">
                            <div class="in_text_article_num text-center">1 </div>
                            <p> Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholdeInformation and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholde</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 step">
                    <div class="panel pic_and_info">
                        <div class="panel-body " id="step-2">

                        </div>
                    </div>
                    <div class="panel text">
                        <div class="panel-body">
                            <div class="in_text_article_num text-center">1 </div>
                            <p> Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholdeInformation and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholde</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 step">
                    <div class="panel pic_and_info">
                        <div class="panel-body " id="step-3">

                        </div>
                    </div>
                    <div class="panel text">
                        <div class="panel-body">
                            <div class="in_text_article_num text-center">1 </div>
                            <p> Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholdeInformation and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholder</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 step">
                    <div class="panel pic_and_info">
                        <div class="panel-body " id="article_warn">

                        </div>
                    </div>
                    <div class="panel text">
                        <div class="panel-body">
                            <div class="in_text_article_num text-center">Uyarilar: </div>
                            <p> Information and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholdeInformation and things go here, in the footer, divided by relevance, soon we will translate this information into turkish, for now, we are using this text as a placeholde</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 step">
                    <div class="panel feedback">
                        <div class="panel-body text-center">
                        <p class="did_this">Did this article help you?</p>
                        <div class="responses">
                            <p class="yes">EVET </p>
                            <p class="no">HAYIR </p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center thank_you_message">
                    Thank you for your feedback and for visiting vikile.com 
                </div>

            </div>
            <!-- end article row  -->
        </div>
        <%=render(:partial=> "side_area")%>
            <!--- end content child 1 row -->
    </div>
    <!-- end main content area -->
</div>
<!--end main body area -->
<%=render "footer"%>