<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<%= form_for(:account, :url => {:action => 'create'}, :role => 'form') do |f| %>
				<h3 class="dark-grey">Registration</h3>
				
				<div class="row row-social">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="#" class="btn btn-lg btn-info btn-block">Google</a>
					</div>
				</div>
				<div class="login-or">
					<hr class="hr-or">
					<span class="span-or">or</span>
				</div>
				<div id = "firstname-div" class="form-group col-lg-6">
					<label>First Name</label>
					 <%= f.text_field(:first_name, :class => "form-control", :placeholder => "First Name", :tabindex =>'1')%>
				</div>
				
				<div id = "lastname-div"class="form-group col-lg-6">
					<label>Last Name</label>
					<%= f.text_field(:last_name, :class => "form-control", :placeholder => "Last Name", :tabindex =>'2')%>
				</div>
				<div id = "displayname-div" class="form-group col-lg-12">
					<label>Display Name</label>
					 <%= f.text_field(:display_name, :class => "form-control", :placeholder => "Display Name", :tabindex =>'3')%>
				</div>
				<div id = "email-div" class="form-group col-lg-12">
					<label>Email Address</label>
					<%= f.text_field(:email, :class => "form-control", :placeholder => "Email Address", :tabindex =>'4')%>
				</div>
				
				
				<div id = "password-div" class="form-group col-lg-6">
					<label>Password</label>
					<%= f.password_field(:password, :class => "form-control", :placeholder => "Password", :tabindex =>'5')%>
				</div>
				
				<div id = "confirmpassword-div" class="form-group col-lg-6">
					<label>Repeat Password</label>
					 <%= f.password_field(:password, :class => "form-control", :placeholder => "Confirm Password", :tabindex =>'6')%>
				</div>
								
					
					
					<button type="submit" class="btn btn-primary">Register</button>

				
					
				
			</div>
		<%end%>
		
		</div>
	</section>
</div>