<div class = "admin_index_main">
<div class = "container">
<div class = "row"> 
	<div class = 'col-lg-2'>
		
		<ul class=" nav nav-pills nav-stacked">
			<li role="presentation"><%= link_to("Home", {:action => 'index'})%></li>
			<li role="presentation"><%= link_to("Articles", {:action => 'articles'})%></li>
			<li role="presentation"><%= link_to("Accounts", {:action => 'accounts'})%></li>
			<li role="presentation"  class="active"><%= link_to("Images", {:action => 'images'})%></li>
			<li role="presentation"><%= link_to("Stats", {:action => 'stats'})%></li>
  		</ul>
  		

	</div>

	<div class = 'col-lg-10'>
		<div class = "row">
			<div class = "col-lg-12"></div>
			<div class = "col-lg-12">
				<div class="list-group">
			      <a href="#" class="list-group-item">
			      	<div class = "row">
			      		<div class = "col-lg-4">
			      			<div class = "thumbnail">
			      				<img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjYxIiB5PSI5MCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE3MXgxODA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 180px;  display: block;">
			      			</div>
			      		</div>
			      		<div class = "col-lg-8">
					        <h4 class="list-group-item-heading">List group item heading</h4>
					        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			      		</div>
			      	</div>
			      </a>
			     
			    </div>
			</div>
		</div>
	</div>
</div>
</div>
</div>