
   <div id= "side_area" class = "col-md-4 col-xs-12 side_area_col">
    <div calss = "row content_child2">
        
        <div class = "col-xs-12 hot_articles">
            <div class="live_tiles_wrapper">
                 <div class="panel-default panel homepage_most_edited_panel most_panel"id="most_edited_panel">
                    <div class="panel-heading most_article_heading">
                        <a href = "#" > En Çok Okunanlar
                 </a>
                    </div>
                    <div class="panel-body most_panel_body">
                        <div class="most_panel_ind_article">
                            <%= image_tag("most_img_1.png", :class=> "most_img") %>
                            <div class="most_info_section">
                                <a href="#"> Nasil Piano Calinir </a>
                                <p class="most_description"> Here is the infor below the article and what not </p>
                            </div>
                        </div>
                        <div class="most_panel_ind_article most_panel_ind_article_middle ">
                            <%= image_tag("most_img_2.png", :class=> "most_img") %>
                            <div class="most_info_section">
                                <a href="#"> Nasil .... </a>a
                                <p class="most_description"> Here is the info below the article and what not </p>
                            </div>
                        </div>
                        <div class="most_panel_ind_article most_panel_ind_article_bottom">
                            <%= image_tag("most_img_3.png", :class=> "most_img") %>
                            <div class="most_info_section">
                                <a href="#"> Nasil ... </a>
                                <p class="most_description">Here is the info below the article and what not </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end most blank panel -->
                <div class="panel-default panel homepage_most_edited_panel most_panel"id="most_edited_panel">
                    <div class="panel-heading most_article_heading">
                        <a href = "#" > En Çok Düzenlenen </a>
                    </div>
                    <div class="panel-body most_panel_body">
                        <div class="most_panel_ind_article">
                            <%= image_tag("most_img_1.png", :class=> "most_img") %>
                            <div class="most_info_section">
                                <a href="#"> How to Play Basketball </a>
                                <p class="most_description"> Here is the information underneath the article and what not </p>
                            </div>
                        </div>
                        <div class="most_panel_ind_article most_panel_ind_article_middle">
                            <%= image_tag("most_img_2.png", :class=> "most_img") %>
                            <div class="most_info_section">
                                <a href="#"> How to Play Basketball </a>
                                <p class="most_description"> Here is the information underneath the article and what not </p>
                            </div>
                        </div>
                        <div class="most_panel_ind_article most_panel_ind_article_bottom">
                            <%= image_tag("most_img_3.png", :class=> "most_img") %>
                            <div class="most_info_section">
                                <a href="#"> How to Play Basketball </a>
                                <p class="most_description"> Here is the information underneath the article and what not </p>
                            </div>
                        </div>
                      
                </div><!-- end most blank panel -->
                
                
                <!-- <div class="panel-default panel homepage_most_viewed_panel most_panel" id="most_viewed_panel">
                    <div class="panel-heading">
                        Most Viewed
                    </div>
                    <div class="panel-body">
                        <div class="most_panel_ind_article">
                            <a href="#"> How to Sweep </a>
                        </div>
                        <div class="most_panel_ind_article">
                            <a href="#"> How to Sleep Better </a>
                        </div>
                        <div class="most_panel_ind_article">
                            <a href="#"> How to Play Basketball </a>
                        </div>
                        <div class="most_panel_ind_article">
                            <a href="#"> How to Weave Baskets </a>
                        </div>
                        <br />
                        <div class="most_panel_ind_article">
                            <a href="#"> How to Tie a Knot </a>
                        </div>
                    </div>
                </div><!-- end most blank panel --> 
            </div><!-- end live tiles wrapper -->
        </div><!-- end hot articles column -->
        <div class="col-xs-12 ads">
            <div class="ads_wrapper">
                <div class="ind_ad_small">
                   <%= image_tag('ad_ph_2.jpg', :alt => "Advertisement", :class => "side_area_advertisement")%>
               </div>
           </div>
       </div><!-- end ad column -->
       
   </div><!-- end conent child 2 row -->
   <div
   class="fb-like"
   data-share="true"
   data-width="450"
   data-show-faces="true">
</div>
</div><!-- end side area column -->