<!DOCTYPE html>
<html>
<head>
  <title>Vikile | <%= @page_title || "Home" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
        // Load this when the DOM is ready
        $(function() {
            // You used .myCarousel here.
            // That's the class selector not the id selector,
            // which is #myCarousel
            $('#myCarousel').carousel( {interval: 6000});
        });
        </script>

  <%= csrf_meta_tags %>

  <%= yield :head%>

 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class = "wall <%= controller_name %> <%= action_name %>">
<%= yield :facebook_sdk%>

<%= render :partial => "layouts/nav" %>
	


<%= yield %>

</body>
</html>
